* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav ul li a {
    color: black;
}

.title {
    display: flex;
    justify-content: center;
}

.form-row {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}