* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.nav {
    height: 90vh;
}

.nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #F1C9FF;
    font-size: 20px;
}

.title {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 3rem;
    color: #FFBDBD;
}

.form-row {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 10px;
}

.button button {
    background-color: #FFBDBD;
}

.button button:hover {
    background-color: #E1F7D5;
}