* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  top: 0;
  right: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 10px;

}

.login {
  width: 100%;
  display: flex;
  align-items: center;
}

.login ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.login ul li a {
  text-decoration: none;
  color: #F1C9FF;
  font-size: 20px;
}

.login ul li a:hover {
  text-decoration: underline;
}

.title {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 3rem;
  color: #FFBDBD;
}

.row {
  display: flex;
  justify-content: center;
}

.button {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.button button {
  background-color: #FFBDBD;
}