<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--Stylesheet CSS-->
    <link rel="stylesheet" href="/static/css/index1.css">
</head>

<body>

    <nav class="navbar navbar-default" style="background-color: rgb(199, 245, 245); max-height: 90px; font-size: 20px; align-content: center;margin-bottom: 0px;">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" >
              <img alt="Brand" src="/static/Logo-small.png">
              
              
            </a>
  
            <p class="navbar-text" style = "color: black; font-size: xx-large; font-weight: 700;">Healthshare.io</p>
  
            
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" style="margin-top: 10px;">
              <li><a href="/map" style = "color: black;"> <span class="glyphicon glyphicon-map-marker"></span> Map</a></li>
              <li style="margin-top: 13px;"><span class="glyphicon glyphicon-user"></span> Hallo, Satoshi Nakamoto</li>
          </ul>
                  
            </div>
        </div> 
      </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <div>
            <h3 align="center">Danke, dass Sie das Askelpios Klinikum St. Georg unterstützen möchten! Es werden</h3><b><h3>100</h3></b><h3> Liter
                Desinfektionsmittel, </h3><b><h3>100</h3></b><h3> Paar Handschuhe und </h3><b><h3>100</h3></b><h3> Schutzmasken benötigt!</h3>
        </div>
    </div>

    <div style="
    padding-right: 200px;
    padding-bottom: 30px;
    padding-left: 200px;">
        <h2>
            <h3 align="center" style="font-weight: bolder;">{{welcometext}}</h3><br>
        </h2>
        <form action= "" method="POST">
            <div class="form-group">
                <label for="disinfectant">
                    <h4>Desinfektionsmittel:</h4>
                </label>
                <input type="disinfectant" class="form-control" id="disinfectant" placeholder="Liter"
                    name="disinfectant">
            </div>
            <div class="form-group">
                <label for="gloves">
                    <h4>Handschuhe:</h4>
                </label>
                <input type="gloves" class="form-control" id="gloves" placeholder="Paar" name="gloves">
            </div>
            <div class="form-group">
                <label for="masks">
                    <h4>Schutzmasken:</h4>
                </label>
                <input type="masks" class="form-control" id="masks" placeholder="Anzahl" name="masks">
            </div>
            <button type="submit" class="btn btn-default">Wie viel kannst du beitragen?</button>
        </form>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2 align="center">Beitrag</h2>
                <div class="traffic_light">
                    <img src="{{beitrag}}" height="100px"
                        style="display:block; margin-left: auto; margin-right: auto;" />
                </div>
            </div>
            <div class="col-md-4">
                <h2 align="center">Versand</h2>
                <div class="traffic_light">
                    <img src="{{versand}}" height="100px"
                        style="display:block; margin-left: auto; margin-right: auto;" />
                </div>
            </div>
            <div class="col-md-4">
                <h2 align="center">Erhalt</h2>
                <div class="traffic_light">
                    <img src="{{url_for('static', filename='img/red.png')}}" height="100px"
                        style="display:block; margin-left: auto; margin-right: auto;" />
                </div>
            </div>
        </div>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

    <footer>
        <p>&copy; healthshare.io 2020</p>
    </footer>
</body>

</html>