<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Flask Bucket List App</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="../static/css/signup.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signup.js"></script>
  <!--Stylesheet CSS-->
  <link rel="stylesheet" href="/static/css/index.css">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="nav">
      <ul>
        <li><a href="#home">Anmelden</a></li>
        <li><a href="#home">Sign Up</a></li>
      </ul>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="map">
        <h1>Analytics</h1>
        <p>Hier kommt die Map rein</p>
      </div>
      <div class="leaderboard">
        <h1>Leaderboard</h1>
        <p>Top 10 Anbieter</p>
      </div>
    </div>
    <div class="container-Submit">
      <p>Willst du mitmachen?</p>
      <button type="submit">Sign Up</button>
    </div>
  </main>

</body>

</html>