<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--Stylesheet CSS-->

    <link rel="stylesheet" href="/static/css/index1.css">

</head>


<body>

    <nav class="navbar navbar-default" style="background-color: rgb(199, 245, 245); max-height: 90px; font-size: 20px; align-content: center;margin-bottom: 0px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="/static/Logo-small.png">


                </a>

                <p class="navbar-text" style="color: black; font-size: xx-large; font-weight: 700;">Healthshare.io</p>



            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="margin-top: 10px;">
                    <li>
                        <a href="/map" style="color: black;"> <span class="glyphicon glyphicon-map-marker"></span> Karte</a>
                    </li>
                    <li><a href="/signup" style="color: black;"><span class="glyphicon glyphicon-user"></span> Registrierung</a></li>
                    <li><a href="/login" style="color: black;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>


            </div>

        </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Sharing is caring!</h1>
            <p>Sind Sie ein Unternehmen und wollen im Kampf gegen Corona aktiv werden? Sie haben einen Lagerbestand an Hilfsmitteln wie z.B. Masken, Einweghandschuhen oder Desinfektionsmitteln, den Sie zur Zeit nicht nutzen? Dann sind Sie hier genau richtig!
                Wir verbinden Sie mit medizinischen Einrichtungen, die Ihre Spenden dringend benötigen. </p>
            <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Jetzt mitmachen! &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Einrichtungen</h2>
                <a href="/map">
                    <img src="{{url_for('static', filename='img/Hamburg.JPG')}}" width=80%>
                    <!--<img src="https://developers.google.com/maps/documentation/android-sdk/images/zoom-level-14.png"></a> -->
                </a>

            </div>
            <div class="col-md-4">
                <h2>Statistiken</h2>
                <b> Anzahl an Spendern:</b>
                <div> 47</div>
                <b> Anzahl an Empfängern:</b>
                <div> 12</div>
                <b> Bereits gespendete Masken:</b>
                <div> 2560</div>
                <b> Bereits gespendete Paar Handschuhe:</b>
                <div> 12340</div>
                <b> Bereits gespendetes Desinfektionsmittel (in Liter):</b>
                <div> 420</div>
            </div>
            <div class="col-md-4">
                <h2>Bestenliste</h2>
                <h5>Folgende Unternemen haben bisher am meisten gespendet:</h5>
                <table>
                    <tr>
                        <th>Unternehmen</th>
                        <th>
                            <p style="color:white;">aa</p>
                        </th>
                        <th>Beitrag</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="{{url_for('static', filename='img/vb_thumb.jpg')}}">
                            <b>Volksbank Hamburg</b>
                        </td>
                        <td></td>
                        <td>
                            <div> Masken: 750 </div>
                            <div> Handschuhe: 200 </div>
                            <div> Desinfektionsmittel: 50 </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{{url_for('static', filename='img/ac_thumb.jpg')}}">
                            <b>Accenture</b>
                        </td>
                        <td></td>
                        <td>
                            <div> Desinfektionsmittel: 275 </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{{url_for('static', filename='img/fx_thumb.jpg')}}">
                            <b>Finexity:</b>
                        </td>
                        <td></td>
                        <td>
                            <div> Masken: 100 </div>
                            <div> Handschuhe: 50 </div>
                            <div> Desinfektionsmittel: 50 </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <h1 style="color:white;">you can't see me</h1>
        </div>
</body>

</html>