<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Flask Bucket List App</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="../static/css/signup.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signup.js"></script>
  <!--Stylesheet CSS-->
  <link rel="stylesheet" href="/static/css/index.css">
  <!--Stylesheet Fontawesome CSS-->
  <link rel="stylesheet" href="/css/all.min.css">
  <!--GOOGLE FONTS MONTSERRAT-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  
</head>
  <body>
    <form action="" method="POST">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </form> 
  </body>

  </html>