<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Flask Bucket List App</title>

  <link href="../static/css/signup.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signup.js"></script>
  <!--Stylesheet CSS-->


  <link rel="stylesheet" href="/static/css/login.css">
  <!--Bootstrap-->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-default" style="background-color: rgb(199, 245, 245); max-height: 90px; font-size: 20px; align-content: center;margin-bottom: 0px;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" >
            <img alt="Brand" src="/static/Logo-small.png">
            
            
          </a>

          <p class="navbar-text" style = "color: black; font-size: xx-large; font-weight: 700;">Healthshare.io</p>

          
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="margin-top: 10px;">
            <li><a href="/map" style = "color: black;"> <span class="glyphicon glyphicon-map-marker"></span> Map</a></li>
            <li><a href="/signup" style = "color: black;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            
          </ul>
            	
          </div>
      </div> 
    </nav>
  </header>
  <main>
    <div class="title">
      <h1>Login</h1>
    </div>
    <form method="POST" action="">
      <div class="form-row">
        <div class="form-group col-lg-3 col-md-3 col-sm-5">
          <label for="inputEmail">Email</label>
          <input type="text" class="form-control" name="inputEmail" id="inputEmail"
            placeholder="Bitte gib deine E-mail ein">
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-5">
          <label for="inputPassword">Passwort</label>
          <input type="password" class="form-control" name="inputPassword" id="inputPassword"
            placeholder="Bitte gib dein Passwort ein">
        </div>
        <div class="button">
          <button type="submit" class="btn">Login</button>
        </div>
      </div>
      <div class="button">
        <button type="submit" class="btn btn-lg">Login</button>
      </div>
    </form>

  </main>
</body>
  </html>