<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Healthshare Map</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" style="background-color: rgb(199, 245, 245); max-height: 90px; font-size: 20px; align-content: center;margin-bottom: 0px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="{{url_for('static', filename='img/logo-small.png')}}">
                </a>

                <p class="navbar-text" style="color: black; font-size: xx-large; font-weight: 700;">Healthshare.io</p>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="margin-top: 10px;">

                    <li style="margin-top: 10px;"><span class="glyphicon glyphicon-user"></span> Hallo, Satoshi Nakamoto</li>
                </ul>
                <form class="navbar-form navbar-left">

            </div>
        </div>
    </nav>

    <div id="map"></div>
    <script>
        var customLabel = {
            medical: {
                label: 'M'
            },
            company: {
                label: 'C'
            }
        };

        $.ajax({
            type: 'get',
            url: 'http://localhost:5000/mapPoints',
            crossDomain: true,
            dataType: 'json',
            headers: {
                "Access-Control-Allow-Origin": "*"
            },
            success: function(json, textStatus, jqXHR) {
                console.log(json);
                initMap(json);
            },
            error: function(responseData, textStatus, errorThrown) {
                console.warn(responseData, textStatus, errorThrown);
                alert('CORS failed - ' + textStatus);
            }
        });

        function initMap(json) {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(53.5666196, 9.9939329),
                zoom: 13
            });
            var infoWindow = new google.maps.InfoWindow;

            for (i = 0; i < json.length; i++) {
                var icon = customLabel[json[i].type] || {};
                var marker = new google.maps.Marker({
                    map: map,
                    position: new google.maps.LatLng(parseFloat(json[i].lat), parseFloat(json[i].lng)),
                    label: icon.label
                });

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {

                        var infowincontent = null;

                        var infowincontent = document.createElement('div');
                        var strong = document.createElement('strong');
                        strong.textContent = json[i].name;
                        infowincontent.appendChild(strong);
                        infowincontent.appendChild(document.createElement('br'));

                        var text = document.createElement('text');
                        text.textContent = json[i].address;
                        infowincontent.appendChild(text);

                        if (json[i].market == "demand") {
                            var text = document.createElement('p');
                            text.textContent = "Wir benötigen " +
                                json[i].disinfectant + " Liter Desinfektionsmittel, " +
                                json[i].gloves + " Paar Handschuhe und " +
                                json[i].masks + " Schutzmasken!";
                            infowincontent.appendChild(text);
                        } else if (json[i].market == "supply") {
                            var supply = document.createElement('p');
                            demand.textContent = "Wir bieten " +
                                json[i].disinfectant + " Liter Desinfektionsmittel, " +
                                json[i].gloves + " Paar Handschuhe und " +
                                json[i].masks + " Schutzmasken!";
                        }
                        var link = "http://localhost:5000/delivery?id=" + json[i].id;
                        var btn = document.createElement('button');
                        btn.textContent = 'JETZT HELFEN!';
                        btn.addEventListener("click", function() {
                            location = link; // Navigate to new page
                        });

                        infowincontent.appendChild(btn);
                        infoWindow.setContent(infowincontent);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    </script>
    <!-- Replace the value of the key parameter with your own API key. -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAklVHl62crLaUJ4HawjWhsvxqPno0ce1k&callback=initMap">
    </script>
</body>

</html>