<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Flask Bucket List App</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="../static/css/signup.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signUp.js"></script>
  <!--Stylesheet CSS-->

  <link rel="stylesheet" href="/static/css/signup.css">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <header>
    <div class="nav">
      <div class="login">
        <ul>
          <li><a href="#home">Map</a></li>
          <li><a href="#home">Aufträge</a></li>
          <li><a href="#home">Anmelden</a></li>
          <li><a href="#home">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <div class="title">
      <h1>Sign Up</h1>
    </div>
    <form action="" method="POST">

      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" name="inputName" id="inputName"
            placeholder="Bitte gib deinen Namen ein">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputInstitution" class="col-sm-2 col-form-label">Institution</label>
        <div class="col-lg-3">
          <select id="inputInstitution" class="form-control" name="inputInstitution">
            <option selected>Bitte auswählen</option>
            <option>Medizinische Einrichtung</option>
            <option>Unternehmen</option>
          </select> </div>
      </div>
      <div class="form-group row">
        <label for="inputAdress" class="col-sm-2 col-form-label">Adresse</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" name="inputAdress" id="inputAdress"
            placeholder="Bitte gib die Adresse ein">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAnsprechpartner" class="col-sm-2 col-form-label">Ansprechpartner</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" name="inputAnsprechpartner" id="inputAnsprechpartner"
            placeholder="Bitte gib uns einen Ansprechpartner">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputTelephone" class="col-sm-2 col-form-label">Telefonnummer</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" name="inputTelephone" id="inputTelephone"
            placeholder="Bitte gib deine Telefonnumer ein">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputNeed" class="col-sm-2 col-form-label">Ich brauche</label>
        <div class="col-lg-3">
          <select id="inputNeed" name="inputNeed" class="form-control">
            <option selected>Bitte auswählen</option>

            <option>Desinfektionsmittel</option>

            <option>Masken</option>
            <option>Handschuhe</option>
          </select></div>
      </div>
      <div class="form-group row">
        <label for="inputAnzahlNeed" class=" col-sm-2 col-form-label">Anzahl</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" name="inputAnzahlNeed" id="inputAnzahlNeed"
            placeholder="Bitte gib die Anzahl an">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputGive" class="col-sm-2 col-form-label">Ich gebe</label>
        <div class="col-lg-3">
          <select id="inputGive" name="inputGive" class="form-control">
            <option selected>Bitte auswählen</option>

            <option>Desinfektionsmittel</option>

            <option>Masken</option>
            <option>Handschuhe</option>
          </select></div>
      </div>
      <div class="form-group row">
        <label for="inputAnzahlGive" class=" col-sm-2 col-form-label">Anzahl</label>
        <div class="col-lg-3">
          <input type="text" name="inputAnzahlGive" class="form-control" id="inputAnzahlGive"
            placeholder="Bitte gib die Anzahl an">
        </div>
      </div>
      <div class="button">
        <button type="submit" class="btn">Auftragssuche</button>
      </div>
    </form>
  </main>
</body>


</html>