<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Flask Bucket List App</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="../static/css/signup.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signUp.js"></script>
  <!--Stylesheet CSS-->
  <link rel="stylesheet" href="/static/css/signup.css.css">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <header>
    <div class="nav">
      <div class="login">
        <ul>
          <li><a href="#home">Map</a></li>
          <li><a href="#home">Aufträge</a></li>
          <li><a href="#home">Anmelden</a></li>
          <li><a href="#home">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <div class="title">
      <h1>Sign Up</h1>
    </div>
    <form>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Bitte gib deinen Namen ein">
        </div>
        <div class="form-group col-md-3">
          <label for="inputInstitution">Institution</label>
          <select id="inputInstitution" class="form-control">
            <option selected>Bitte auswählen</option>
            <option>Medizinische Einrichtung</option>
            <option>Unternehmen</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputAdress">Adresse</label>
          <input type="text" class="form-control" id="inputAdress" placeholder="Bitte gib die Adresse ein">
        </div>
        <div class="form-group col-md-3">
          <label for="inputAnsprechpartner">Ansprechpartner</label>
          <input type="text" class="form-control" id="inputAnsprechpartner"
            placeholder="Bitte gib uns einen Ansprechpartner">
        </div>
        <div class="form-group col-md-3">
          <label for="inputTelephone">Telefon</label>
          <input type="text" class="form-control" id="inputTelephone" placeholder="Bitte gib deine Telefonnumer ein">
        </div>
        <div class="form-group col-md-3">
          <label for="inputNeed">Ich brauche...</label>
          <input type="text" class="form-control" id="inputNeed" placeholder="bsp. Desinfikationsmittel, Masken,...">
        </div>
        <div class="form-group col-md-3">
          <label for="inputGive">Ich gebe...</label>
          <input type="text" class="form-control" id="inputGive" placeholder="bsp. Desinfikationsmittel, Masken,...">
        </div>
      </div>
      <div class="button">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </main>
</body>

</html>